* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6;
    color: #838487;
    transition: all 0.4s ease-in-out;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    transition: all 0.5s ease-in-out !important;
}

.btn-check:focus+.btn,
.btn:focus {
    outline: 0;
    box-shadow: none;
}

.form-control:focus,
.form-select:focus {
    border-color: transparent;
    box-shadow: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #000;
    transition: all 0.4s ease-in-out;
}

h2 {
    font-size: 48px;
    font-weight: 300;
    color: #333438;
}

h3 {
    font-size: 34px;
    line-height: 42px;
}

h4 {
    font-size: 32px;
    line-height: 36px;
    letter-spacing: 0.02em;
}

h5 {
    font-size: 24px;
    font-weight: 400;
    line-height: 27px;
}

h6 {
    font-size: 18px;
    line-height: 26px;
}

.p_100 {
    padding: 100px 0;
}

select:focus-visible {
    outline: none;
    border-color: #A7C3B5;
}

input:focus-visible {
    outline: none;
}

.form-check-input:focus {
    box-shadow: none;
}

/*==================== button start here ====================*/
.btn.btn-primary {
    font-weight: 500;
    text-transform: uppercase;
    padding: 18px 35px;
    border-radius: 100px;
    border: 2px solid #0d6efd;
}

.btn.btn-primary:hover {
    border-color: #0d6efd;
    color: #0d6efd;
    background-color: transparent;
}

/*==================== button page end here ====================*/

/*==================== home page start here ====================*/
.banner_wrapper {
    position: relative;
}

.banner_bg_img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.banner_bg_txt span {
    font-size: 25px;
    font-weight: 500;
    line-height: 1;
    color: #fff;
}

.banner_bg_txt h2 {
    font-size: 57px;
    font-weight: 700;
    color: #fff;
    margin: 50px 0;
}

.banner_slider_btn {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 50px;
    right: 50px;
}

.banner_slider_btn .enjoy_btn {
    border: 0;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: rgb(0 0 0 / 50%);
}

.banner_slider_btn .enjoy_btn:hover {
    background-color: #000;
}

.about_sec_txt {
    max-width: 820px;
    margin: 0 auto;
    text-align: center;
}

.about_sec_txt p {
    margin: 32px 0 48px;
}

.services_sec {
    padding: 80px 0 0;
}

.service-card h4 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
}

.service-card p {
    line-height: 1.7;
    margin-bottom: 25px;
}

.service-card a {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #0d6efd;
    text-decoration: none;
}

.service-card a span {
    margin-left: 6px;
}

.service-card a:hover {
    text-decoration: underline;
}

.service-card {
    display: flex;
    gap: 30px;
}


.gallery_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 300px;
    gap: 10px;
}

.gallery_content {
    position: relative;
    overflow: hidden;
}

.gallery_content.long {
    grid-row: span 2;
}

.gallery_content.long_last {
    grid-row: span 3;
}

.gallery_image,
.gallery_image img {
    width: 100%;
    height: 100%;
}

.gallery_image img {
    object-fit: cover;
}

.gallery_content a {
    position: absolute;
    inset: 0;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    opacity: 0;
    color: #fff;
    background-color: rgba(0, 101, 255, 0.85);
}

.gallery_content:hover a {
    opacity: 1;
}

.our_hd {
    max-width: 770px;
    margin: 0 auto;
    text-align: center;
}

.our_hd p {
    font-weight: 500;
    color: #afb1b8;
}

.our_hd {
    max-width: 770px;
    margin: 0 auto;
    text-align: center;
}

.our_hd p {
    font-weight: 500;
    color: #afb1b8;
}

.our_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;
}

.our_list {
    text-align: center;
}

.our_img img {
    width: 100%;
}

.our_list_body span {
    display: block;
    margin: 30px 0;

}

.our_list_body h6 a {
    color: #333438;
}

.our_list_body h6 a {
    color: #0d6efd;
}

.our_list_body p {
    margin: 30px 0 0;
    color: #333333;
}

.team_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.team_img {
    position: relative;
    border-bottom: 5px solid #0065ff;
}

.team_img ul {
    position: absolute;
    inset: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 15px;
    margin: 20px;
    background-color: rgba(0, 101, 255, 0.85);
    opacity: 0;
    transition: all 0.4s ease-in-out;
}

.team_img ul li a {
    color: #fff;
}

.team_img ul li {
    transform: translateY(20px);
    transition: all 0.4s ease-in-out;
}

.team_img:hover ul {
    opacity: 1;
}

.team_img:hover ul li {
    transform: translateY(0);
}

.team_list_body {
    text-align: center;
    padding: 15px;
}

.team_list_body h6 a {
    font-size: 16px;
    color: #333438;
    line-height: 1;
}

.team_list_body span {
    line-height: 1;
    font-size: 12px;
}

.team_list_body h6 {
    margin: 0;
}

.team_hd {
    padding-right: 30%;
}

.team_link_pre li h5 {
    margin-top: 20px;
}

ul.team_link_pre {
    margin-top: 50px;
}

.video_bg {
    background-color: #f5f6f7;
}

.what-we-do h2 {
    text-align: center;
    margin-bottom: 40px;
}

.slider-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    max-width: 1000px;
    margin: auto;
}

.video-slider {
    width: 100%;
}

.custom-prev,
.custom-next {
    width: 70px;
    height: 70%;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    line-height: 1.5;
    color: #fff;
    background-color: #0065ff;
}

.custom-prev {
    position: absolute;
    left: -70px;
}

.custom-next {
    position: absolute;
    right: -70px;
}

.video_slider_nav {
    margin-top: 25px;
    text-align: center;
}

.video_slider_nav .nav-slide {
    outline: none;
}

.video_slider_nav h4 {
    font-size: 22px;
    font-weight: 600;
}

.video_slider_nav p {
    font-size: 16px;
    color: #555;
}

.video_slider_txt iframe {
    width: 100%;
    height: 500px;
    object-fit: cover;
}


.interior_hd {
    padding: 50px;
    background-color: #0065ff;
    height: 100%;
}

.interior_hd p {
    margin: 30px 0;
    color: #fff;
}

.interior_hd h2 {
    color: #fff;
}

.interior_hd a {
    color: #fff;
}

.interior_hd a i {
    margin-left: 10px;
    vertical-align: middle;
}

.interior_content {
    position: relative;
    width: 100%;
}

.interior_content img {
    width: 100%;
    height: auto;
    display: block;
}

.hotspot {
    position: absolute;
    width: 20px;
    height: 20px;
    background: #0d6efd;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 0 6px rgba(13, 110, 253, 0.35);
    display: flex;
    align-items: center;
    justify-content: center;
}

.dot-inner {
    width: 6px;
    height: 6px;
    background: #fff;
    border-radius: 50%;
}

.tooltip-text {
    position: absolute;
    bottom: 150%;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    color: #000;
    padding: 8px 14px;
    font-size: 14px;
    border-radius: 6px;
    white-space: nowrap;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}

.tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border: 6px solid transparent;
    border-top-color: #fff;
}

.hotspot:hover .tooltip-text {
    opacity: 1;
    visibility: visible;
}

.hotspot-1 {
    top: 34%;
    left: 22%;
}

.hotspot-2 {
    top: 33%;
    left: 47%;
}

.hotspot-3 {
    top: 60%;
    left: 44%;
}

.hotspot-4 {
    top: 52%;
    left: 75%;
}

.blog-section {
    max-width: 800px;
    margin: 0 auto;
}

.blog_hd {
    text-align: center;
    margin-bottom: 30px;
}

.blog-section .subtitle a {
    color: #4c6ef5;
    text-decoration: none;
}

.blog-section .blog-card {
    border: 5px solid #f5f6f7;
    padding: 30px;
    margin-bottom: 15px;
}

.blog-section .category {
    display: block;
    font-size: 12px;
    margin-bottom: 10px;
    text-align: center;
    color: #afb1b8;
}

.blog-section .category a {
    color: #4c6ef5;
    text-decoration: none;
}

.blog-section .meta {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    font-size: 12px;
    color: #b7b7b7;
}

.blog-section .meta i {
    margin-right: 6px;
}

.blog-section .blog-card h5 {
    text-align: center;
}

.blog-section .blog-card:last-child {
    margin-bottom: 40px;
}

.footer_wrapper {
    background-color: #333438;
}

.footer_content h2 {
    font-weight: 500;
    color: #fff;
}

.footer_bottom {
    padding: 40px 0;
    background: #26272a;
}

.footer_bottom p {
    margin: 0;
    text-align: center;
    color: #fff;
}

.footer_map iframe {
    width: 100%;
    height: 100%;
}

.footer_map {
    height: 100%;
}

.footer_content {
    padding-right: 15%;
}

/*==================== home page end here ====================*/






















/* ====================================== Responsive code start here ====================================== */
@media only screen and (max-width: 991px) {
    .gallery_grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .gallery_content.long {
        grid-row: span 1;
    }
}


@media only screen and (max-width: 575px) {
    .gallery_grid {
        grid-template-columns: 1fr;
    }
}